
     /*RaphLanokFuture*/

@font-face {
	font-family: "RaphLanokFuture";
	src: url("../fonts/RaphLanokFuture/RaphLanokFuture.eot");
	src: url("../fonts/RaphLanokFuture/RaphLanokFuture.eot?#iefix") format("eot"),
	url("../fonts/RaphLanokFuture/RaphLanokFuture.ttf") format("truetype");
	font-style: bold;
	font-weight: normal;
}
